

.navbar {
    grid-area: nav;
    width: 160px;
    background-color: blueviolet;
    padding: 20px;
}

.active {
    color: i;
    text-decoration: none;
}

.item {
    color: whitesmoke;
    text-decoration: none;
}


.sideBar {
    padding: 50px;
}
