.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogs .active {
    text-decoration: none;
    color: darkorange;

}

.messages {

    padding: 10px;

}

.dialog {
    text-decoration: none;
    color: black;

}

.dialogsItems {
    text-decoration: none;
}

.message {

}
